@import '../../style/mixins.scss';
@import '../../style/breakpoints.scss';

.burger {
    @include flexColumn();
    width: 70rem;
    height: 60vh;
    text-align: center;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.addIngredient {
    font-size: 3rem;
    font-weight: 300;
}

@media only screen and (max-width: $bp-largest) {
    .burger {
        width: 70%;
    }
}

@media only screen and (max-width: $bp-small) {
    .burger {
        width: 100%;
        padding: 0;
    }
}