@import '../style/mixins.scss';
@import '../style/breakpoints.scss';

.checkout {
    @include flexColumn();
    width: 100%;
    padding: 2rem;

    h1 {
        @include fontJosefin(6rem);
    }

    &__burger {
        width: 80rem;
    }

    &__buttons {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: $bp-small) {
    .checkout {
        text-align: center;

        &__burger {
            width: 100%;
        }
    }
}