@import '../../style/color.scss';
@import '../../style/mixins.scss';

.toolbar {
    @include flexRow(space-between);
    height: 5.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-brown-primary;
    padding: 0 3rem;
    z-index: 100;

    &__logo {
        background-color: white;
        padding: 0.8rem;
        height: 80%;
        border-radius: 6px;

        & img {
            height: 100%;
        }
    }

    &__nav {
        height: 100%;
    }
}