$color-brown-primary: #703B09;
$color-brown-secondary: #CF8F2E;

$color-green-ui: #5C9210;
$color-boxShadow-white: #c9c9c9;

$color-buttonBorder-brown: #AA6817;
$color-buttonBorder-disabled: #7E7365;
$color-buttonDisabled-brown: #AC9980;
$color-orderButton-brown: #966909;

$color-bread-1: #F08E4A;
$color-bread-2: #e27b36;
$color-bread-3: #c15711;
$color-bread-4: #bc581e;
$color-meat-1: #7f3608;
$color-meat-2: #702e05;
$color-cheese-1: #f4d004;
$color-cheese-2: #d6bb22;
$color-bacon-1: #bf3813;
$color-bacon-2: #c45e38;
$color-salad-1: #228c1d;
$color-salad-2: #91ce50;