@mixin flexRow($justify-content: flex-start, $align-items: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flexColumn($align-items: center, $justify-content: center) {
    display: flex;
    flex-direction: column;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin fontJosefin($fontSize: 1.6rem, $fontWeight: 300) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-family: 'Josefin Sans', sans-serif;
}

@mixin fontNunito($fontSize: 1.6rem, $fontWeight: 300) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-family: 'Nunito', sans-serif;
}