@import '../style/mixins.scss';
@import '../style/color.scss';
@import '../style/breakpoints.scss';

.auth {
    @include form();

    & form {
        @include flexColumn();

        input {
            @include input();
        }

        input:focus {
            @include input-focus();
        }

        input:-webkit-autofill {
            @include input-autofill();
        }

        input:last-of-type {
            margin-bottom: 3rem;
        }
    }

    & h5 {
        @include fontNunito(2.5rem, 300);
        margin: 1.6rem;
        color: $color-bacon-1;
    }
}

.authButton {
    @include form-button();
    margin: 0 auto;
    font-size: 2.5rem;
}

.inputInvalid {
    @include input-invalid ();
}

@media only screen and (max-width: $bp-largest) {
    .auth {
        width: 100%;
    }
}